---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
  {
    date: "Noviembre 2024 - Diciembre 2024",
    title: "Desarrollador Frontend",
    // company: "Igrowker",
    description:
      "Uno de los proyectos más desafiantes en colaboración con desarrolladores Argentinos y Españoles desarrollando una aplicación web para adopción de mascotas.",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
